<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/overrides.css">
    <title>Most Played Specs</title>
</head>
<body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.magelocdn.com/pack/rift/en/magelo-bar.js#1"></script>

<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="https://www.prancingturtle.com/">
            <img src="https://prancingturtle.com/Content/turtle/turtle12.png" alt="PT logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="./index.html">Overall DPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./dps.html">DPS Class Leaders</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./hps.html">HPS Leaders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./supdps.html">Support DPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./suphps.html">Support HPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./tdps.html">Tank DPS Leaders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./thps.html">Tank HPS</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./mostplayed.html">Most Played Specs</a> <span
                        class="sr-only">(current)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./latestuploads.html">Latest Uploads</a>
                </li>
            </ul>
        </div>
    </div>
    <script>
$(window).scroll(function() {
    if ($(this).scrollTop() > 90) {
        $(".navbar").css("visibility", "hidden");

    }else{
        $(".navbar").css("visibility", "visible");
    }
});

    </script>
</nav>
<!-- Normal Content Zone -->
<div class="content">
    <div class="left-align">
        <p>DPS/HPS totals are approximations of actual play. For <a href="http://forums.riftgame.com/technical-discussions/addons-macros-ui/506815-addon-debuffwatcher.html"
                       target="new">maximum dps</a> your raid setup should contain all buffs and debuffs from Magic1 - Crit2 and 5 % cost reduce. Buffs/Debuffs in the same group do not stack with each other except <a href="https://rift.magelo.com/en/ability/1617495427" target="new">Primal Savagery</a>.</p>
    </div>

    <div class="subheading">
        <h2>Most Played Specs</h2>
        <hr>
    </div>
    <div class="content">

        <table class="table table-striped pt_table_blank_mostplayed table-dark table-hover">
            <thead>
            <tr class="ttkguild">
                <th scope="col">Class</th>
                <th scope="col">Spec</th>
                <th scope="col">ST DPS</th>
                <th scope="col">THPS</th>
                <th scope="col">Phys</th>
                <th scope="col">Cost</th>
                <th scope="col">Magic1</th>
                <th scope="col">Magic2</th>
                <th scope="col">Phys1</th>
                <th scope="col">DMG1</th>
                <th scope="col">DMG2</th>
                <th scope="col">DMG3</th>
                <th scope="col">DMG4</th>
                <th scope="col">DMG5</th>
                <th scope="col">Stat1</th>
                <th scope="col">Stat2</th>
                <th scope="col">Stat3</th>
                <th scope="col">AP/SP</th>
                <th scope="col">Crit1</th>
                <th scope="col">Crit2</th>
            </tr>
            </thead>
            <tbody>
            <!-- Classes/specs here -->

            <!-- Cleric -->
            <tr>
                <td class="Cleric">Cleric</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/cleric-guides/504971-4-4-inquisitor.html"
                       target="new">Inquisitor</a></td>
                <td>1.400.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/626514129" target="new">5%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1595568812" target="new">7%</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="Cleric">Cleric</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/cleric-guides/499771-4-3-easy-shaman-raid-spec-2-buttons.html"
                       target="new">Shaman</a></td>
                <td>1.350.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="Cleric">Cleric</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/cleric-guides/506450-4-5-defiler-cabalist.html"
                       target="new">Defiler/Cabalist</a></td>
                <td>1.000.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="Cleric">Cleric</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/cleric-guides/507942-4-5-defilerocle-offensive-support-hybrid.html"
                       target="new">Frootyloops</a></td>
                <td>950.000</td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1368055655" target="new">5%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/-78199184" target="new">5%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/2146146687" target="new">7%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1734146052" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Vital Inspiration(+5% stats)</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/2123835945" target="new">Boon of Resurgence</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1844887525" target="new">Inspiration of Battle</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="Cleric">Cleric</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/cleric-guides/507942-4-5-defilerocle-offensive-support-hybrid.html"
                       target="new">Defihealer</a></td>
                <td>700.000</td>
                <td>1.500.000</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1368055655" target="new">5%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/-78199184/Marrow-Harvest">5%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/2146146687" target="new">7%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1734146052" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Vital Inspiration(+5% stats)</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/2123835945" target="new">Boon of Resurgence</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1844887525" target="new">Inspiration of Battle</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="Cleric">Cleric</td>
                <td><a href="https://rift.magelo.com/en/soultree#Yk4F8G8Gk/UkaAMpg/rmA|PtP0" target="new">Defihealer(Tank)</a>
                </td>
                <td>450.000</td>
                <td>1.000.000</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1368055655" target="new">5%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/-78199184/Marrow-Harvest">5%</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1734146052" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Vital Inspiration(+5% stats)</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/2123835945" target="new">Boon of Resurgence</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1844887525" target="new">Inspiration of Battle</a></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Cleric">Cleric</td>
                <td>
                    <a href="https://rift.magelo.com/en/soultree?_escaped_fragment_=2/_ki8Fq8/!18l0#le/rkGGFlkll5h0/U8gw"
                       target="new">61 Justi/12 Defiler</a></td>
                <td>400.000</td>
                <td>60.000</td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/-78199184/Marrow-Harvest">5%</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Cleric">Cleric</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/cleric-guides/508022-wardocle-alternate-setup-playstyle.html"
                       target="new">Wardocle</a></td>
                <td>120.000</td>
                <td>1.500.000</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1368055655" target="new">5%</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/2146146687" target="new">7%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1734146052" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Vital Inspiration(+5% stats)</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/2123835945" target="new">Boon of Resurgence</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1844887525" target="new">Inspiration of Battle</a></td>
                <td></td>
                <td></td>
            </tr>

            <!-- Mage -->

            <tr>
                <td class="Mage">Mage</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/mage-guides/499764-58-ele-pyro-machine-gun.html"
                       target="new">58 Ele/Pyro</a></td>
                <td>1.500.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="Mage">Mage</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/mage-guides/494839-61-pyromancer-4-5-a.html"
                       target="new">61 Pyro</a></td>
                <td>1.450.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Mage">Mage</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/mage-guides/494839-61-pyromancer-4-5-a.html"
                       target="new">Metachon</a></td>
                <td>1.000.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/495432690" target="new">7%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1904978992" target="new">5%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/125069375" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1709047846" target="new">20%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/587425654" target="new">15%</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1717615199" target="new">Vitality of Stone</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/-697177" target="new">Granite Salvo</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1675671410" target="new">5%</a></td>
                <td></td>
            </tr>

            <tr>
                <td class="Mage">Mage</td>
                <td>
                    <a href="https://docs.google.com/spreadsheets/d/10pTzhWpQa2Y6f97_Zmxom7aRoJBMYKQ7vzc8WKlvyy0/edit#gid=1338370154&range=P84"
                       target="new">Ele/Chloro</a></td>
                <td>700.000</td>
                <td>5.000.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Mage">Mage</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/mage-guides/505703-chlorochon-61-chon-9-chloro-6-sc-61-chon-11-chloro-4-ele.html"
                       target="new">61 Chlorochon</a></td>
                <td>450.000</td>
                <td>2.500.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/495432690" target="new">7%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1904978992" target="new">5%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/125069375" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1709047846" target="new">20%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/587425654" target="new">15%</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1717615199" target="new">Vitality of Stone</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/-697177" target="new">Granite Salvo</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1675671410" target="new">5%</a></td>
                <td></td>
            </tr>

            <tr>
                <td class="Mage">Mage</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/classes-telara/mage-discussion/507649-mage-hybrid-tank-discussion.html"
                       target="new">Chontank</a></td>
                <td>300.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/495432690" target="new">7%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1904978992" target="new">5%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/125069375" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1709047846" target="new">20%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/587425654" target="new">15%</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1717615199" target="new">Vitality of Stone</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/-697177" target="new">Granite Salvo</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1675671410" target="new">5%</a></td>
                <td></td>
            </tr>
            <tr>
                <td class="Mage">Mage</td>
                <td>
                    <a href="https://docs.google.com/spreadsheets/d/10pTzhWpQa2Y6f97_Zmxom7aRoJBMYKQ7vzc8WKlvyy0/edit#gid=1338370154&range=A485"
                       target="new">Chloro</a></td>
                <td>200.000+</td>
                <td>3.500.000</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/394549633" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Mage">Mage</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/classes-telara/mage-discussion/507649-mage-hybrid-tank-discussion.html"
                       target="new">ChloroTank</a></td>
                <td>200.000</td>
                <td>3.000.000</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/394549633" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Mage">Mage</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/classes-telara/mage-discussion/507649-mage-hybrid-tank-discussion.html#post5371598"
                       target="new">Arb/Chloro/Storm</a></td>
                <td>100.000</td>
                <td>2.000.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- Primalist -->
            <tr>
                <td class="Primalist">Primalist</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/primalist-guides/505253-melee-pl-vulc.html"
                       target="new">Melee PL/Vulc</a></td>
                <td>1.800.000</td>
                <td></td>
                <td>23%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Primalist">Primalist</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/primalist-guides/508821-4-5-hot-pot.html#post5377777"
                       target="new">HotPot</a></td>
                <td>1.800.000</td>
                <td></td>
                <td>23%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Primalist">Primalist</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/primalist-guides/501153-4-3-quackquack-fb-blast-exploiting-spec.html"
                       target="new">QuackQuack</a></td>
                <td>1.800.000</td>
                <td></td>
                <td>23%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Primalist">Primalist</td>
                <td>DD+5% Magic</td>
                <td>1.450.000</td>
                <td></td>
                <td>23%</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1089809869" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Primalist">Primalist</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/primalist-guides/505160-pseudo-support.html"
                       target="new">Pseudo Support</a></td>
                <td>1.400.000</td>
                <td></td>
                <td>25%</td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1965748832" target="new">7%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1965748832" target="new">5%</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1617495427" target="new">5%</a></td>
                <td>Wild Storms(12 %)</td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1809298449" target="new">Aerial Boon</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1809298449" target="new">Aerial Boon</a></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Primalist">Primalist</td>
                <td>Psuedo+5% Crit</td>
                <td>950.000</td>
                <td></td>
                <td>25%</td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1965748832" target="new">7%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1965748832" target="new">5%</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1617495427" target="new">5%</a></td>
                <td>Wild Storms(12 %)</td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1809298449" target="new">Aerial Boon</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1809298449" target="new">Aerial Boon</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/815270282" target="new">5%</a></td>
            </tr>

            <tr>
                <td class="Primalist">Primalist</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/primalist-guides/507809-various-hybrid-tank-specs.html"
                       target="new">Tank/DD</a></td>
                <td>1.100.000</td>
                <td></td>
                <td>10%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Primalist">Primalist</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/primalist-guides/507809-various-hybrid-tank-specs.html"
                       target="new">Mystic Tank</a></td>
                <td>200.000</td>
                <td></td>
                <td>7%</td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1965748832" target="new">7%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1965748832" target="new">5%</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1617495427" target="new">5%</a></td>
                <td>Wild Storms(12 %)</td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1809298449" target="new">Aerial Boon</a></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1809298449" target="new">Aerial Boon</a></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Primalist">Primalist</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/primalist-guides/507809-various-hybrid-tank-specs.html"
                       target="new">Tank/Heal</a></td>
                <td>150.000</td>
                <td>1.300.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Primalist">Primalist</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/primalist-guides/506889-4-5-aoe-heal-spec-crit-debuff.html"
                       target="new">Heal+5% Crit</a></td>
                <td>62.000</td>
                <td>2.000.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/815270282" target="new">5%</a></td>
            </tr>
            <!-- Rogue -->
            <tr>
                <td class="Rogue">Rogue</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/rogue-guides/507591-51mm-bofors-rogue-top-dps-spec-official-repost.html"
                       target="new">Spitfire</a></td>
                <td>1.800.000</td>
                <td></td>
                <td>90%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Rogue">Rogue</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/rogue-guides/507591-51mm-bofors-rogue-top-dps-spec-official-repost.html"
                       target="new">51MM BOFORS</a></td>
                <td>1.800.000</td>
                <td></td>
                <td>90%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Rogue">Rogue</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/rogue-guides/507591-51mm-bofors-rogue-top-dps-spec-official-repost.html"
                       target="new">Bloodhound BBQ</a></td>
                <td>1.800.000</td>
                <td></td>
                <td>90%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Rogue">Rogue</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/rogue-guides/496131-4-1-61-nightblade.html"
                       target="new">61 Nightblade</a></td>
                <td>1.400.000</td>
                <td></td>
                <td>4%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Rogue">Rogue</td>
                <td>
                    <a href="https://prancingturtle.com/Encounter/Interaction?id=205927&p=146713&outgoing=True&type=DPS&mode=ability&filter=all"
                       target="new">Tank DD</a></td>
                <td>1.100.000</td>
                <td></td>
                <td>10%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Rogue">Rogue</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/rogue-guides/507538-4-5-bardsman-offensive-support-hybrid.html"
                       target="new">Bardsman</a></td>
                <td>400.000</td>
                <td>1.000.000</td>
                <td>2%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Resonance(+5% stats)</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/2008357338" target="new">Fanfare of Power</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1532247126" target="new">Motif of Bravery</a></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Rogue">Rogue</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/rogue-guides/491810-rift-rogue-compendium-4-0-a.html#2.2"
                       target="new">61 Riftstalker</a></td>
                <td>140.000</td>
                <td></td>
                <td>83%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Rogue">Rogue</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/rogue-guides/493465-4-1-tactbard-pve-guide-40-bard-36-tactician-heal-support-spec.html"
                       target="new">Tactbard</a></td>
                <td>120.000</td>
                <td>1.500.000</td>
                <td>8%</td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1015923578" target="new">7%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/274374632" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Resonance(+5% stats)</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/2008357338" target="new">Fanfare of Power</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1532247126" target="new">Motif of Bravery</a></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Rogue">Rogue</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/classes-telara/rogue-discussion/507855-4-5-hybrid-tank-idea.html"
                       target="new">Tank/Bard Hybrid</a></td>
                <td>60.000</td>
                <td>1.000.000</td>
                <td>50%</td>
                <td></td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/1015923578" target="new">7%</a></td>
                <td><a href="https://rift.magelo.com/en/ability/274374632" target="new">5%</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Resonance(+5% stats)</td>
                <td></td>
                <td><a href="https://rift.magelo.com/en/ability/2008357338" target="new">Fanfare of Power</a></td>
                <td><a href="https://rift.magelo.com/en/ability/1532247126" target="new">Motif of Bravery</a></td>
                <td></td>
                <td></td>
            </tr>

            <!--Warrior-->
            <tr>
                <td class="Warrior">Warrior</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/warrior-guides/505756-4-5-riftblade-guide.html"
                       target="new">61 Riftblade</a></td>
                <td>1.600.000</td>
                <td></td>
                <td>7%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Warrior">Warrior</td>
                <td><a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/warrior-guides/508707-paragon-tank.html" target="new">Paragon
                    Tank</a></td>
                <td>1.500.000</td>
                <td></td>
                <td>71%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Warrior">Warrior</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/warrior-guides/500534-4-3-chantion.html"
                       target="new">Warchanter</a></td>
                <td>200.000</td>
                <td>2.500.000</td>
                <td>93%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Warrior">Warrior</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/classes-telara/warrior-discussion/507977-linkchanter.html"
                       target="new">Linkchanter</a></td>
                <td>150.000</td>
                <td>2.500.000</td>
                <td>93%</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="Warrior">Warrior</td>
                <td>
                    <a href="http://forums.riftgame.com/game-discussions/rift-guides-strategies/class-guides/warrior-guides/507876-4-5-lifegiving-liberator.html"
                       target="new">61 Liberator</a></td>
                <td>0</td>
                <td>3.000.000</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>

    </div>

</div>
</body>
</html>
