<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/overrides.css">
    <title>Bastion of Steel Kill Videos</title>
</head>
<body>


<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="./js/scripts.js"></script>

<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="https://www.prancingturtle.com/">
            <img src="https://prancingturtle.com/Content/turtle/turtle12.png" alt="PT logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="./index.html">Overall DPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./dps.html">DPS Class Leaders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./hps.html">HPS Leaders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./supdps.html">Support DPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./suphps.html">Support HPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./tdps.html">Tank DPS Leaders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./thps.html">Tank HPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./mostplayed.html">Most Played Specs</a>
                </li>
		 <li class="nav-item dropdown nav-item active">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         		 Resources
        		</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          		<a class="dropdown-item" href="./videos.html">Videos</a>
          		<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="./mostplayed.html">Most Played Specs</a>
				<a class="dropdown-item" href="./raidsetup.html">Raid Setup Calculator</a>
       			 </div>
     		 </li>
                <li class="nav-item">
                    <a class="nav-link" href="./latestuploads.html">Latest Uploads</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Normal Content Zone -->
<div class="content">
    <div class="left-align">
        <p>If you want me to add a video leave me a message in the <a href="http://forums.riftgame.com/general-discussions/general-discussion/505825-comparison-st-damage-hps-thps-aps-all-classes-after-4-5-patch-7-11-2018-a.html"
                       target="new">Forum</a>.</p>
    </div>
</div>

<div class="subheading">
    <h2>Azranel</h2>
    <hr>
</div>
<div class="content">
	<div class="video_win">
	<div class="embed-responsive embed-responsive-4by3">
	  <iframe class="embed-responsive-item" src="https://player.twitch.tv/?video=v433629205&autoplay=false" allowfullscreen></iframe>
	</div>
	<ul>
		<li>Boss: Azranel </li>
		<li>Guild: Freaks on a Leash</li>
		<li>Time: 02:40</li>
		<li>Point of View: Bloodhound</li>
		<li>Link: <a href="https://www.twitch.tv/videos/433629205" target="new">Video</a></li>
	</ul>
	</div>

	<div class="video_win">
	<div class="embed-responsive embed-responsive-4by3">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rwy4XLLyVqg" allowfullscreen></iframe>
	</div>
	<ul>
		<li>Boss: Azranel </li>
		<li>Guild: Freaks on a Leash</li>
		<li>Time: 02:51</li>
		<li>Point of View: Bloodhound</li>
		<li>Link: <a href="https://youtu.be/Rwy4XLLyVqg" target="new">Video</a></li>
	</ul>
	</div>

	<div class="video_win">
	<div class="embed-responsive embed-responsive-4by3">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NWgBe5_NEbc" allowfullscreen></iframe>
	</div>
	<ul>
		<li>Boss: Azranel </li>
		<li>Guild: Freaks on a Leash</li>
		<li>Time: 02:54</li>
		<li>Point of View: Bofotank</li>
		<li>Link: <a href="https://youtu.be/NWgBe5_NEbc" target="new">Video</a></li>
	</ul>
	</div>
    
<div class="clearfloat"></div>

	<div class="video_win">
	<div class="embed-responsive embed-responsive-4by3">
	  <iframe class="embed-responsive-item" src="https://player.twitch.tv/?video=v404995176&autoplay=false" allowfullscreen></iframe>
	</div>
	<ul>
		<li>Boss: Azranel </li>
		<li>Guild: Freaks on a Leash</li>
		<li>Time: 02:54</li>
		<li>Point of View: 51 BOFORS</li>
		<li>Link: <a href="https://www.twitch.tv/videos/404995176" target="new">Video</a></li>
	</ul>
	</div>

	<div class="video_win">
	<div class="embed-responsive embed-responsive-4by3">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vEbGYN2IATI" allowfullscreen></iframe>
	</div>
	<ul>
		<li>Boss: Azranel </li>
		<li>Guild: Old Farts</li>
		<li>Time: 04:43</li>
		<li>Point of View: Necro Solo Tank with Pet</li>
		<li>Link: <a href="https://youtu.be/vEbGYN2IATI" target="new">Video</a></li>
	</ul>
	</div>

	<div class="video_win">
	<div class="embed-responsive embed-responsive-4by3">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/okWBs9hKnR0" allowfullscreen></iframe>
	</div>
	<ul>
		<li>Boss: Azranel </li>
		<li>Guild: Old Farts</li>
		<li>Time: 05:15</li>
		<li>Point of View: Cleric Solo Tank with Beacon</li>
		<li>Link: <a href="https://youtu.be/okWBs9hKnR0" target="new">Video</a></li>
	</ul>
	</div>

<div class="clearfloat"></div>

<div class="subheading">
    <h2>Commander Isiel</h2>
    <hr>
</div>

	<div class="video_win">
	<div class="embed-responsive embed-responsive-4by3">
	  <iframe class="embed-responsive-item" src="https://player.twitch.tv/?video=v433632868&autoplay=false" allowfullscreen></iframe>
	</div>
	<ul>
		<li>Boss: Commander Isiel </li>
		<li>Guild: Freaks on a Leash</li>
		<li>Time: 03:45 | 02:41</li>
		<li>Point of View: Bloodhound</li>
		<li>Link: <a href="https://www.twitch.tv/videos/433632868" target="new">Video</a></li>
	</ul>
	</div>

	<div class="video_win">
	<div class="embed-responsive embed-responsive-4by3">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rzu9DJDdjWc" allowfullscreen></iframe>
	</div>
	<ul>
		<li>Boss: Commander Isiel </li>
		<li>Guild: Freaks on a Leash</li>
		<li>Time: 04:09 | 02:45</li>
		<li>Point of View: Bloodhound</li>
		<li>Link: <a href="https://youtu.be/Rzu9DJDdjWc" target="new">Video</a></li>
	</ul>
	</div>

	<div class="video_win">
	<div class="embed-responsive embed-responsive-4by3">
	  <iframe class="embed-responsive-item" src="https://player.twitch.tv/?video=v404997913&autoplay=false" allowfullscreen></iframe>
	</div>
	<ul>
		<li>Boss: Commander Isiel </li>
		<li>Guild: Freaks on a Leash</li>
		<li>Time: 04:22 | 02:56</li>
		<li>Point of View: Bloodhound</li>
		<li>Link: <a href="https://www.twitch.tv/videos/404997913" target="new">Video</a></li>
	</ul>
	</div>

<div class="clearfloat"></div>

	<div class="subheading">
   	 <h2>Titan X</h2>
   	 <hr>
	</div>

	<div class="video_win">
	<div class="embed-responsive embed-responsive-4by3">
	  <iframe class="embed-responsive-item" src="https://player.twitch.tv/?video=v433634314&autoplay=false" allowfullscreen></iframe>
	</div>
	<ul>
		<li>Boss: Titan X </li>
		<li>Guild: Freaks on a Leash</li>
		<li>Time: 05:36 | 01:52</li>
		<li>Point of View: Bloodhound</li>
		<li>Link: <a href="https://www.twitch.tv/videos/433634314" target="new">Video</a></li>
	</ul>
	</div>

<div class="clearfloat"></div>

</div>

</body>
</html>
